@charset "UTF-8";

@font-face {
  font-family: 'Monaco';
  src: url("../font/Monaco.ttf");
}

@font-face {
  font-family: 'Consola';
  src: url("../font/consola.ttf");
}

@font-face {
  font-family: 'Monospaced';
  src: url("../font/ArialMonospaced.ttf");
}

html, body {
  width: 100%;
  height: 100%;
  color: #58666e;
  font-size: 16px;
  line-height: 1.42857143;
  background-color: transparent;
  -webkit-font-smoothing: antialiased;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
}

aside {
  height: 100%;
}

header {
  background: #42b983
}

footer {
  background-color: transparent;
}

section {
  height: 100%;
}

.unselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* ------------- APP 布局--------- */
.app-wrapper {
  height: 100%;
}

/* 左侧边栏 */
.lsm {
  width: unset !important;
  display: inline-block;
}

.text-muted {
  color: #98a6ad!important;
  font-size: 14px;
}

.scroll-bar {
  overflow: hidden;
}

.scroll-bar:hover {
  overflow: auto;
}

.no-padding {
  padding: 0;
}

.margin-left-10 {
  margin-left: 10px;
}

.bg-fff {
  background-color: #FFF;
}

/* 分隔线开始 */
.more-condition .el-divider {
  margin-top: 0;
  -o-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.more-condition .el-divider__text {
  color: #C0C4CC;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.more-condition .bars {
  padding-left: 5px;
}

.more-condition .el-divider:hover {
  background-color: #E6E6FA;
}

.more-condition .el-divider__text:hover {
  color: #8e85c8;
  cursor: pointer;
}

.more-condition .el-divider__text:active {
  color: #7266BA;
}

/* 分割线结束 */

/* 搜索按钮开始 */
.query-btn .el-form-item__content {
  margin-left: 20px !important;
}

.query-btn .search-btn{
  float: right;
}

.query-btn .fun-btn {
  float: left;
}

/* 搜索按钮结束 */

/* ----------element ui---------------*/

/* dialog  样式 */
.el-dialog__body {
  overflow: auto;
}
